<section class="character-list" *ngIf="isLoaded">
    <p>character-list works!</p>

    <app-search-form (searchNameChanged)="onSearchNameChange($event)"
                    (statusFilterChanged)="onStatusFilterChange($event)"
    ></app-search-form>

    <!-- todo format characters -->
    <article *ngFor="let character of characters" >
        <a [routerLink]="['/character/', character.id]">
            <h2>{{character.name}}</h2>
            <p>{{character.status}}</p>
            <p>Created date: ({{character.created | date: 'YYYY-MM-dd'}})</p>
        </a>
    </article>
</section>

<hr>

<div class="search-results" 
     infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="150"
     (scrolled)="onScroll()"
>

</div>

<div *ngIf="nextPageLoading || !isLoaded" 
    class="loading-icon"
    >
</div>

<div *ngIf="!nextUrl">End of the content.</div>