// todo refactor to global scss
.loading-icon {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #a9a9a9; /* Dark Gray */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .character-list{
    padding-bottom: 15px;

    background: rgb(36, 40, 47);
    .character{
        border: 1px solid;
        padding: 10px;
        box-shadow: 5px 10px #dfdfdf;
        margin:20px 25px;
        background:white;
        a{
            text-decoration: inherit;
            color: inherit;
            display:flex;
            justify-content: space-between;
        }
        .left-box{

        }
        .right-box{
            display:flex;
            justify-content: space-between;
        }
    }
    .mat-form-field{
        background:white!important;
    }
  }

  .w-100{
    width: 100%;
}