<section class="character-list" *ngIf="isLoaded">

    <section class="search-form">
        <app-search-form (searchNameChanged)="onSearchNameChange($event)"
                        (statusFilterChanged)="onStatusFilterChange($event)"
                        class="w-100"
        ></app-search-form>
    </section>

    <!-- todo format characters -->
    <article *ngFor="let character of characters" 
              class="character">
        <a [routerLink]="['/character/', character.id]">
            <h2>{{character.name}}</h2>
            <div class="inner-box">
                <p>{{character.status}}</p>
                <p>Created date: ({{character.created | date: 'YYYY-MM-dd'}})</p>
            </div>
        
        </a>
    </article>
</section>

<hr>

<div class="search-results" 
     infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="150"
     (scrolled)="onScroll()"
>

</div>

<div *ngIf="nextPageLoading || !isLoaded" 
    class="loading-icon"
    >
</div>

<div *ngIf="!nextUrl">End of the content.</div>