header{
    background: #d29b35;
    ul{
        display: flex;
        li{
            padding:10px;
            list-style-type: none;
            .active-link{
                // todo find proper styling for active link
            }
        }
    }
}

footer{
    h4{
        text-align:center;
        margin-top:40px;
        padding:25px;
    }
}