
    <form [formGroup]="myForm" 
          class="search-form-box">

        <mat-form-field>
            <input matInput placeholder="Search characters by name"
                    formControlName="name">
        </mat-form-field>

        <mat-form-field>
            <mat-select formControlName="status">
                <mat-option value="">Filter by status</mat-option>
                <mat-option *ngFor="let type of statusTypes;" value="{{type}}">{{type}}</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
